# OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*

# LINUX
*~

# WINDOWS
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp

# PACKAGES
*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid

# LOGS AND DATABASES
.tmp
*.log
*.sql
*.sqlite
*.sqlite3

# MISC
*#
ssl
.idea
nbproject
public/uploads/*
!public/uploads/.gitkeep

# NODEJS
lib-cov
lcov.info
pids
logs
results
node_modules
.node_history

# TESTS
coverage

# STRAPI
.env
license.txt
exports
.strapi
dist
build
.strapi-updater.json
.strapi-cloud.json
